body {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.918);
}

a {
    text-decoration: none;
    color: rgba(97, 218, 17, 0.829);
}

.transfer {
    font-family: Bebas Neue;
    margin-top: 20%;
    color: white;
}

.transfer:hover {
    text-underline-offset: none;
}

.myDIV {
    font-size: 32px;
}

.myDIV:hover+.hide {
    display: block;
    color: red;
}

.hide {
    display: none;
    margin-top: 10px;
}

a:hover {
    color: red;
    text-decoration: underline;
}